:root {
    --vertFonce:#006265;
    --vertClair:#6BCAB3;
    --rouge:#D02C2A;
    --textColor:#303030;
    --fondColor:#E6E6E6;
    font-family: Gfs Didot;
}
@font-face {
    font-family: iceberg;
    src: url(font/Iceberg-Regular.ttf);
  }
@font-face {
    font-family: GFS Didot;
    src: url(font/GFSDidot-Regular.ttf);
  }
body {
    background-color: var(--fondColor);
    margin: 0 auto 0 auto;
}
main {
    margin: 0;
    padding: 0 100px;
    align-items: center;
}
main>h2 {
    padding-top: 80px;
}
h1 {
    font-family: iceberg;
    color: var(--vertFonce);
    text-align: center;
}
h2 {
    width: 200px;
    margin-top: 0;
    font-family: iceberg;
    color: var(--vertFonce);
}
h3 {
    color: var(--vertFonce);
}
a {
    text-decoration: none;
    color: var(--rouge);
}
/*-----HEADER-----*/
header{
    background-color: var(--vertClair);
    padding: 41px 63px 0 63px;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: space-between;
}
header>a {
    width: 300px;
    font-family: iceberg;
    color: var(--vertFonce);
    text-align: center;
    font-size: 60px;
    margin: 0;
}
nav a {
    text-align: center;
    width: 200px;
    margin-top: 0;
    font-family: iceberg;
    color: var(--vertFonce);
    font-size: 35px;
    padding-top: 40px;
}

/*-----MES PROJETS-----*/
.lien-projet {
    position: absolute;
    width: 100%;
    height: 100%;
}
.slides-container {
    width: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    scroll-behavior: smooth;
  }
  .slides-container::-webkit-scrollbar { 
    width: 0;
    height: 0;
}
.container {
    padding: 20px;
    background-color: #ffffff;
    display: flex;
}
.container ul {
    display: flex;
}
.container ul li {
    position: relative;
    justify-content: center;
    list-style: none;
    width: 100%;
}
.container img {
    width: 250px;
    height: 150px;
    object-fit: contain;
}
.buttonSlide {
    color: var(--vertFonce);
    font-size: 80px;
    background: none;
    border: none;
}

/*-----CV-----*/
.containerCV {
    background-color: #ffffff;
    padding: 21px 61px;
}
.containerCV>div {
    display: flex;
}
.descCV {
    flex-direction: column;
    margin: 0 61px;
}
.descCV>div {
    display: flex;
}
#lire-suite {
    display: none;
}
/*-----FOOTER-----*/
footer {
    background-color: var(--vertClair);
    display: flex;
    margin-top: 107px;
    padding-top: 10px;
}
footer div {
    flex-direction: column;
    flex-grow: 1;
}
footer div h2 {
    margin: 0 auto;
    padding-bottom: 10px;
}
footer div h1 {
    margin: 20px auto;
    width: 200px;
    text-align: start;
}
/*-----PROJECT-----*/
.center {
    text-align: center;
}
.center>img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.liens {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    color: var(--rouge);
}
/*-----CONTACT-----*/
.perso {
    display: flex;
    justify-content: space-around;
}
.perso>h2 {
    width: 70px;
}
.perso a {
    text-align: center;
    width: 250px;
    padding: 36px 64px;
    background-color: #ffffff;
    color: var(--rouge);
}
.perso p {
    text-align: center;
    width: 250px;
    padding: 36px 64px;
    background-color: #ffffff;
    color: var(--textColor);
}
.reseaux {
    justify-content: center;
    padding: 40px;
}
.reseaux i {
    color: var(--rouge);
    width: 80px;
    margin: 0 auto;
}
@media(max-width:500px){
    header {
        padding: 41px 20px 0 20px;
    }
    header h2 {
        width: 100%;
        margin: 0;
        text-align: center;
    }
    main {
        padding: 0 75px;
    }
    .buttonSlide {
        display: none;
    }
    .containerCV>div:first-child{
        flex-direction: column;
        justify-content: left;
    }
    .containerCV p {
        height: 250px;
        overflow: hidden;
    }
    .containerCV {
        padding: 10px;
    }
    .descCV {
        margin: 10px;
    }

    #lire-suite {
        display: block;
        color: var(--rouge);
        background: none;
        border: none;
    }
    footer h1 {
        font-size: 30px;
    }
    footer h2 {
        font-size: 16px;
    }
    .container {
        flex-direction: column;
    }
    .reseaux {
        flex-direction: row;
    }
    .perso {
        justify-content: space-between;
        
    }
    .perso a {
        padding: 10px;
        width: 200px;
    }
    .perso p {
        padding: 10px;
        width: 200px;
    }
    .left {
        position: sticky;
        left: 0px;
    }
    .right {
        position: sticky;
        right: 0px;
    }
    .contact main {
        padding: 0;
    }
}